# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [1]:
(0.25*1/1)**1+101-1

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [2]:
100**0.5

10.0

In [3]:
100**(1/2)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [4]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [ ]:
s = 'hello'

In [10]:
s = "Hello"
print(s[1])

e

In [9]:
s = "Hello"
s[::-1]

'olleH'

In [11]:
s = "Hello"
print(s[4])

o

In [59]:
s = "Hello"
print(s[-1])

o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [12]:
mi_lista = [0,0,0]

In [13]:
mi_lista

[0, 0, 0]

In [16]:
mi_lista = [0*3,0*3,0*3]

In [17]:
mi_lista

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [28]:
lista = [1,2,[3,4,'hello']]
lista [2] [2] = "goodbye"
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [ ]:
listaSinOrdenar = [5,3,4,6,1]

In [22]:
lista_ordenada = [5,3,4,6,1]
lista_ordenada.sort()
lista_ordenada

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [35]:
f = {'k1':{'k2':'hello'}}

In [38]:
f = {'k1':{'k2':'hello'}}
valor = f ['k1']['k2']
print(valor)

hello

In [43]:
d = {'key1':'hello'}

In [41]:
d = {'key1':'hello'}
valor = d ['key1']
print(valor)

hello

In [44]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [49]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}
valor = g ['k1'][0]['o1'][1][0]
print(valor)

hello

In [50]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [54]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}
valor = h ['k1'][2]['k2'][1]['dificil'][2][0]
print(valor)

hello

#### 9.- Crea una tupla (1 pto)

In [61]:
t=(1,2,3,'cuatro','cinco')
t

(1, 2, 3, 'cuatro', 'cinco')

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [62]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [65]:
valoresUnicos = set(listaDuplicada)
print(valoresUnicos)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [76]:
# 2 mayor que 3

In [73]:
2>3

False

In [77]:
# 3 igual que 2

In [75]:
3 == 2

False

In [78]:
# raíz cuadrada de 4 no es igual a 2

In [85]:
4**0.5 == 2

True

In [86]:
# 6 es mayor que 5 y 7 menor que 8

In [87]:
(6>5) and (7<8)

True

In [88]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [93]:
len(nombre) == len (colores) or len(nombre)<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [72]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\tEdad\tMascotas\n")
    f.write("Paula\tPortilla Yapo\t20\tMocca\n")
    f.write("Isabel\tRomero Reyes\t65\tCharlie\n")
    f.write("Nathaly\tYapo Romero\t40\tZeus\n")
    f.write("Cecilia\tMontalvo Gracia\t65\tChiquita\n")

In [68]:
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos	Edad	Mascotas
Paula	Portilla Yapo	20	Mocca
Isabel	Romero Reyes	65	Charlie
Nathaly	Yapo Romero	40	Zeus
Cecilia	Montalvo Gracia	65	Chiquita

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [83]:
diccionario = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}
lista_keys = list(diccionario.keys())

diccionario["Canis"] = ["lupus", "familiaris"]
diccionario["Felis"] = ["catus"]

lista_keys = list(diccionario.keys())

set_keys = set(lista_keys)

print(set_keys)

{'Echinocactus', 'Glaucidium', 'Rattus', 'Canis', 'Felis', 'Opuntia'}